@using Employers_Management.Data
@inherits EmployerBase
@page "/"
<PageTitle>Employers list</PageTitle>
<div class="container d-flex justify-content-between">
    <h3>Employers List </h3>
    <a href="/add" class="btn btn-primary" onclick="">Add </a>

</div>
<EditForm Model="@EmployerData">
    <div class="form-group">
        <label for="fn">First Name</label>
        <InputText class="form-control" id="fn" placeholder="first name" @bind-Value="EmployerData.FirstName" />
    </div>
    <div class="form-group">
        <label for="ln">Last Name</label>
        <InputText class="form-control" id="ln" placeholder="Last name" @bind-Value="EmployerData.LastName" />
    </div>
    <div class="form-group">
        <label for="salary">Salary</label>
        <InputNumber class="form-control" id="salary" placeholder="00" min="0" @bind-value="EmployerData.Salaire" />
    </div>
    <div class="form-group">
        <label for="dep">Department</label>
        <InputText class="form-control" id="dep" placeholder="Department name" @bind-Value="EmployerData.Department.DepartmentName" />
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <InputSelect class="form-control" id="gender" @bind-value="EmployerData.Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="img">Image URL</label>
        <textarea class="form-control" id="img" rows="3" @bind="EmployerData.PhotoPath">
                </textarea>
    </div>
    <button class="btn btn-primary" @onclick="AddEmployer">@(EmployerData.Id == 0 ? "Add": "Edit") </button>
</EditForm>

@if (EmployersList == null)
{
    <div class="spinner"></div>
}
else if (EmployersList.Count() == 0)
{
    <div class="m-auto text-center">
        Aucun Employé n'est trouvé
    </div>
}
else
{
<div class="container-fluid d-flex g-5 flex-row  flex-wrap justify-content-between p-4">
    @foreach (var employer in EmployersList)
    {
        <div class="card border-2 m-auto" style="width: 18rem;">
            <img class="card-img-top m-auto" style="width:100px ;height:100px" src="@employer.PhotoPath" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@employer.LastName  @employer.FirstName</h5>
                <p class="card-text mb-0">Gender : @employer.Gender</p>
                <p class="card-text mb-0">Department : @employer.Department.DepartmentName</p>
                <p class="card-text">Salary : @employer.Salaire dh</p>
                <div class="container d-flex g-4 justify-content-between">
                        <button class="btn btn-info" @onclick="()=>SetEmployerData(employer)" >Edit</button>
                        <button class="btn btn-danger" @onclick="() => RemoveEmployer(employer.Id)">Remove</button>
                </div>
            </div>
        </div>
    }
</div>   
}
