@using Employers_Management.Data
@inherits EmployerBase
@page "/"
<PageTitle>Employers list</PageTitle>
<div class="container d-flex justify-content-between">
    <h3>Employers List </h3>
    <a href="/add" class="btn btn-primary" onclick="">Add </a>
</div>
@if (EmployersList == null)
{
    <div class="spinner"></div>
}
else if (EmployersList.Count() == 0)
{
    <div class="m-auto text-center">
        Aucun Employé n'est trouvé
    </div>
}
else
{
<div class="container-fluid d-flex g-5 flex-row  flex-wrap justify-content-between p-4">
    @foreach (var employer in EmployersList)
    {
        <div class="card border-2 m-auto" style="width: 18rem;">
            <img class="card-img-top m-auto" style="width:100px ;height:100px" src="@employer.PhotoPath" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@employer.LastName  @employer.FirstName</h5>
                <p class="card-text mb-0">Gender : @employer.Gender</p>
                <p class="card-text mb-0">Department : @employer.Department.DepartmentName</p>
                <p class="card-text">Salary : @employer.Salaire dh</p>
                <div class="container d-flex g-4 justify-content-between">
                        <button class="btn btn-info" @onclick="()=>SetEmployerData(employer)" >Edit</button>
                        <button class="btn btn-danger" @onclick="() => RemoveEmployer(employer.Id)">Remove</button>
                </div>
            </div>
        </div>
    }
</div>   
}
